/target
*.pyd
*.py
*.js
*.dll
*.pyc
*.pyi
*.old
*.zip
database/weapon_formulas.rs
!database/compactor.py
!database/perk_rerouter.py
zdata.json
database/weapon.json
database/weapon_test.json
database/enhanced_handler.rs
/zPythonStuff
data.json